<ion-view title="" ng-init="fhide='false'" ng-init="thide='false'">
  <ion-content class="padding" id="login">
    
    <div class="list card">

  <div class="item">
    <div class="cot-logo">
    <img src="img/cot.png" class="title-ck"/>
    </div>
  </div>
<div class="list">
 <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">	
Invoice number</span><span class="ion-compose"></span>
 <input type="text" placeholder="" ng-model="inv" style="background-color: #ccc; width:320px;">
  </label>
   
  <label class="item item-input item-stacked-label">
    <span class="input-label">Inv Date</span><span class="ion-calendar"></span>
    <input type="date" placeholder=""  ng-model="invdate" style="background-color: #ccc; width:320px;">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Load</span><span class="ion-ios-cloud-upload"></span>
    <input type="number" placeholder=""  ng-model="invload" style="background-color: #ccc; width:320px;">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">PU / Del</span><span class="ion-ios-cloud-upload"></span>
    <input type="text" placeholder=""  ng-model="invpu" style="background-color: #ccc; width:320px;">
  </label>
 <label class="item item-input item-stacked-label">
   <button class="button button-balanced" ng-click="post_data(inv,invdate,invload,invpu)" style="background-color:#61f505;width:100px">
 submit
</button>
<ion-spinner icon="lines" ng-if="fhide=='true'" style="color:#61f505;left: 502px;"></ion-spinner>

 <span class="ion-checkmark-circled" style="color:#61f505;" ng-if="thide=='true'"></span>
  </label>-->
  
  <ion-list>
    <a class="item item-icon-left" href="#/detail/Flat-Rate">
    <i class="icon ion-ios-pricetags-outline"></i>
    Flat Rate / Linehaul
  </a>

  <a class="item item-icon-left" href="#/detail/Fuel-Surcharge" >
    <i class="icon ion-ios-pricetags-outline"></i>
   Fuel Surcharge
    <!--<i class="icon ion-ios-telephone-outline"></i>-->
  </a>

  <a class="item item-icon-left"href="#/detail/Lumper">
    <i class="icon ion-ios-pricetags-outline"></i>
   Lumper
    <!--<span class="item-note">
      Grammy
    </span>-->
  </a>

  <a class="item item-icon-left" href="#/detail/Loading-Unloading">
    <i class="icon ion-ios-pricetags-outline"></i>
    Loading  / Unloading
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
  <a class="item item-icon-left" href="#/detail/Driver-Assist">
    <i class="icon ion-ios-pricetags-outline"></i>
     Driver Assist
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
  <a class="item item-icon-left" href="#/detail/Detention">
    <i class="icon ion-ios-pricetags-outline"></i>
   Detention
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
  <a class="item item-icon-left" href="#/detail/Layover">
    <i class="icon ion-ios-pricetags-outline"></i>
  Layover
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
  <a class="item item-icon-left" href="#/detail/Pallet">
    <i class="icon ion-ios-pricetags-outline"></i>
    Pallet
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
<a class="item item-icon-left" href="#/detail/Redelivery">
    <i class="icon ion-ios-pricetags-outline"></i>
   Redelivery
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
  <a class="item item-icon-left" href="#/detail/TONU-EONU">
    <i class="icon ion-ios-pricetags-outline"></i>
    TONU / EONU
   <!-- <span class="badge badge-assertive">0</span>-->
  </a>
 <!--
  <ion-item href="#/detail"><i class="icon ion-email"></i>
    Flat Rate / Linehaul
  </ion-item>
  <ion-item href="#/detail">
    Fuel Surcharge
  </ion-item>
  <ion-item href="#/detail">
   Lumper
  </ion-item>
  <ion-item href="#/detail">
   Loading  / Unloading
  </ion-item>
  <ion-item href="#/detail">
   Driver Assist
  </ion-item>
  <ion-item href="#/detail">
   Detention
  </ion-item>
   <ion-item href="#/detail">
   Layover
  </ion-item>
   <ion-item href="#/detail">
   Pallet
  </ion-item>
   <ion-item href="#/detail">
  Redelivery
  </ion-item>
  <ion-item href="#/detail">
  TONU / EONU
  </ion-item>
</ion-list>-->
 <!--<button class = "button" ng-click = "takePicture()">Take Picture</button>
<button class = "button" ng-click = "getPicture()">Open Gallery</button>
<img ng-src = "{{picture}}">

<button class = "button" ng-click = "uploadPicture()">upload</button>-->
  
</div>
 

  <div class="coyote-img">
  <img class="full-image" src="img/co.png" style="   width: 245px;
    padding-left: 84px;
    height: 121px;"/>
</div>
</div>

  </ion-content>
</ion-view>
